*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystore — never commit
*.keystore
*.jks
release.properties

# Generated
app/release/
app/debug/
